/* @font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
} */

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* остановилась здесь */
.button-main {
  position: relative;
  padding: 10px 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}

.button-main {
  padding: 10px 5px;
  transition: all 0.3s ease-in;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}

.button-main span {
  position: relative;
  z-index: 2;
}

.button-main span::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #FFE17F;
  transform: scaleY(0.2);
  transition: transform 0.3s ease-in;
  z-index: 1;
}

.button-main span:hover::after {
  transform: scale(1);
}

.main-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  background-color: transparent;
}

.sub-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  background-color: transparent;
}

/* .container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  width: 1440px;
  padding: 0 45px;
} */

.container {
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
  width: 1160px;
}

.page-header {
  margin-top: 40px;
  padding: 0 60px;
  padding-bottom: 150px;
  color: #000000;
  background-color: #FFE17F;
}

.navigation {
  position: relative;
}

.navigation-logo {
  position: absolute;
  top: -66px;
  left: 0;
}

.user-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 44px;
  margin-bottom: 45px;
}

.user-left-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* width: 625px; */
}

.search-form {
  /* width: 517px; */
  /* justify-content: center; */
  display: flex;
  align-items: flex-start;
}

.search-field {
  width: 399px;
  margin: 0;
  padding: 10px 10px 10px 48px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  background-image: url("../images/icon-search.svg");
  background-repeat: no-repeat;
  background-position: left 16px center;
  border: 2px solid #000000;
  border-right-width: 1px;
  border-radius: 50px 0px 0px 50px;
}

.search-button {
  padding: 10px 55px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  border: 2px solid #000000;
  border-left-width: 1px;
  border-radius: 0px 50px 50px 0px;
  cursor: pointer;
}

.user-menu-link {
  position: relative;
  padding: 12px;
  color: #000000;
  background-color: #FFE17F;
  text-decoration: none;
}

.icon-auth {
  margin-left: 28px;
}

.user-menu-link::before,
.icon-auth::before,
.user-menu-button::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
}

.icon-auth::before {
  left: -12px;
  top: 21px;
  width: 13px;
  height: 12px;
  background-image: url("../images/icon-auth.svg");
}

.user-right-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* width: 245px; */
  width: auto;
  max-width: 450px;
  flex-wrap: wrap;

  list-style-type: none;
  margin: 0;
  padding: 0;

}

.wrapper-item:not(:first-child) {
  margin-left: 61px;
}

.wrapper-item .user-menu-link {
  position: relative;
  display: block;
  padding: 12px 5px 12px 12px;
}

.wrapper-item .user-menu-link::before {
  left: -12px;
  top: 21px;
  width: 10px;
  height: 12px;
  background-image: url("../images/icon-compare.svg");
}

.user-menu-button {
  position: relative;
  padding: 12px 5px 12px 12px;
  color: #000000;
  background-color: #FFE17F;
  border: none;
  cursor: pointer;
  font: inherit;
}

.wrapper-item .user-menu-button::before {
  left: -16px;
  top: 17px;
  width: 16px;
  height: 14px;
  background-image: url("../images/icon-cart.svg");
}

.products-number {
  position: absolute;
  display: grid;
  place-items: center;
  left: -33px;
  bottom: 17px;
  z-index: 2;
  width: 21px;
  height: 21px;
  font-size: 14px;
  line-height: 17px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
}

.navigation-link {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFE17F;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-catalog-container .navigation-link {
  margin-right: 10px;
}

.icon-pluse {
  position: absolute;
  bottom: -15px;
  right: -65px;
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
}

.icon-pluse::before,
.icon-pluse::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 2px;
  top: 25px;
  left: 17px;
  background-color: #000000;
}

.icon-pluse::after {
  transform: rotate(-90deg);
}


.navigation-catalog {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 120px;
  margin: 0;
  padding: 33px 0 27px 0;
  list-style-type: none;
  display: none;
}

.navigation-catalog li {
  width: 222px;
  margin-right: 30px;
  margin-bottom: 15px;
}

.navigation-catalog li:nth-child(3n) {
  margin-bottom: 0;
}

.navigation-catalog-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  background-color: #FFE17F;
  text-decoration: none;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  width: 475px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-container {
  flex-grow: 1;
}

.slider-container {
  position: relative;
  margin-bottom: 108px;
  padding-bottom: 108px;
}

.slider {
  margin: 0;
  margin-top: -150px;
  padding: 0;
  list-style-type: none;
}

.slide {
  display: flex;
}

.slider-left-wrapper {
  position: relative;
}

.slider-images {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-image {
  display: block;
}

.slider-controls {
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slider-button {
  width: 20px;
  height: 60px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../images/slider/slider-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider-next {
  transform: rotate(180deg);
}

.slider-right-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 560px;
  margin-top: 120px;
  margin-left: 40px;
}

.slide-number {
  position: absolute;
  right: -25px;
  top: -40px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #FFFFFF;
  background-color: transparent;
}

.slider-right-wrapper .main-title {
  position: relative;
  z-index: 2;
  margin-bottom: 29px;
}

.slide-text {
  margin-top: 0;
  margin-bottom: 61px;
}

.parametrs {
  display: flex;
  max-width: 560px;
  order: 5;
  margin-bottom: 38px;
}

.parametr-container {
  display: flex;
  flex-direction: column;
}

.parametr-container:not(:last-child) {
  margin-right: 20px;
}

.parametr-name {
  order: 2;
  font-size: 16px;
  line-height: 30px;
}

.parametr-value {
  order: 1;
  margin: 0;
  margin-bottom: 12px;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  background-color: #FFFFFF;
}

.slider-right-wrapper .button {
  order: 4;
  margin-bottom: 59px;
}

.slider-pagination {
  position: absolute;
  right: -70px;
  bottom: 280px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-item {
  margin: 0 10px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button-current {
  background-color: #000000;
}

.catalog-sections {
  margin-bottom: 180px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-list-item {
  position: relative;
}

.catalog-section-link::before {
  position: absolute;
  content: "";
  width: 160px;
  height: 160px;
  bottom: 95px;
  background-color: #FFE17F;
}

.virtual-reality::after {
  position: absolute;
  content: "";
  background-image: url("../images/catalog-sections/virtual-reality.svg");
  background-repeat: no-repeat;
  width: 97px;
  height: 55px;
  bottom: 150px;
  left: 20%;
}

.monopods-for-selfie::after {
  position: absolute;
  content: "";
  background-image: url("../images/catalog-sections/monopods-for-selfie.svg");
  background-repeat: no-repeat;
  width: 86px;
  height: 117px;
  bottom: 95px;
  left: 20%;
}

.action-cameras::after {
  position: absolute;
  content: "";
  background-image: url("../images/catalog-sections/action-cameras.svg");
  background-repeat: no-repeat;
  width: 71px;
  height: 87px;
  bottom: 130px;
  left: 30%;
}

.fitness-bracelets::after {
  position: absolute;
  content: "";
  background-image: url("../images/catalog-sections/fitness-bracelets.svg");
  background-repeat: no-repeat;
  width: 107px;
  height: 65px;
  bottom: 140px;
  left: 16%;
}

.smart-watches::after {
  position: absolute;
  content: "";
  background-image: url("../images/catalog-sections/smart-watches.svg");
  background-repeat: no-repeat;
  width: 56px;
  height: 98px;
  bottom: 125px;
  left: 34%;
}

.quadcopters::after {
  position: absolute;
  content: "";
  background-image: url("../images/catalog-sections/quadcopters.svg");
  background-repeat: no-repeat;
  width: 132px;
  height: 69px;
  bottom: 140px;
  left: 9%;
}

.catalog-section-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.services {
  background-color: #F0F0F0;
  margin-bottom: 70px;
  padding-bottom: 72px;
}

.services-wrapper {
  display: flex;
}

.services-tabs {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: -35px;
  padding: 0;
  list-style-type: none;
}

.services-content {
  position: relative;
  margin: 0;
  margin-top: -30px;
  margin-left: 116px;
  padding: 0;
  list-style-type: none;
}

.services-content::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 319px;
  top: -70px;
  left: -116px;
  background-color: #000000;
}

.services-name {
  margin-bottom: 55px;
}

.services-tab-name {
  max-width: 160px;
  width: 100%;
  padding: 9px 15px 11px 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: transparent;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.services-tab-current {
  padding-right: 120px;
  color: #FFE17F;
  background-color: #000000;
  width: 100%;
  max-width: 280px;
}

.services-tab-content {
  position: relative;
  width: 475px;
}

.services-tab-content .main-title {
  margin-bottom: 34px;
}

.tab-delivery::after {
  position: absolute;
  content: "";
  background-image: url("../images/services/icon-services-delivery.svg");
  background-repeat: no-repeat;
  width: 136px;
  height: 164px;
  top: 0;
  left: 558px;
}

.tab-warranty::after {
  position: absolute;
  content: "";
  background-image: url("../images/services/icon-services-warranty.svg");
  background-repeat: no-repeat;
  width: 171px;
  height: 195px;
  top: 0;
  left: 558px;
}

.tab-credit::after {
  position: absolute;
  content: "";
  background-image: url("../images/services/icon-services-credit.svg");
  background-repeat: no-repeat;
  width: 156px;
  height: 188px;
  top: 0;
  left: 558px;
}

.button-delivery {
  position: relative;
  display: block;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 40px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  background-color: #F0F0F0;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.button-delivery::before {
  position: absolute;
  content: "";
  width: 125px;
  height: 100px;
  top: 0;
  left: 0;
  background-color: #FFE17F;
  background-image: url("../images/icon-delivery-order.svg");
  background-repeat: no-repeat;
  background-size: 47px 31px;
  background-position: center;
}

.icon-delivery-info {
  position: absolute;
  display: grid;
  place-items: center;
  top: 30px;
  right: 44px;
  width: 40px;
  height: 40px;
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
}

.icon-delivery-info-svg {
  fill:rgba(0, 0, 0, 0.3);
}


.button-delivery:hover .button-delivery::before {
  /* position: absolute;
  content: ""; */
  background-color: #FFC700;
}

.button-delivery:hover .icon-delivery-info-svg {
  fill:#000000;
}

.button-delivery:focus {
  outline: 2px solid #AF4FFF;
}

.button-delivery:active {
  outline: none;
  opacity: 0.3;
}

.company {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.company-wrapper {
  position: relative;
  width: 497px;
}

.company-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.company-wrapper .main-title {
  margin-top: 40px;
  margin-bottom: 48px;
}

.company-wrapper p {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.company-wrapper .sub-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.delivery-list,
.contacts-schedule {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}

/* .delivery-list {

} */

.delivery-item {
  position: relative;
  margin-left: 28px;
  margin-bottom: 19px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  background-color: #FFFFFF;
  letter-spacing: -0.02em;
}

.delivery-item::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 6px;
  left: -26px;
  background-color: #FFC700;
  border-radius: 50%;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  color: #444444;
  background-color: #ffffff;
}

.newsletter {
  background-color: #F0F0F0;
}

.newsletter-top-wrapper,
.newsletter-bottom-wrapper {
  display: flex;
  justify-content: space-between;
}

.newsletter-top-wrapper {
  align-items: flex-end;
  padding-top: 64px;
  margin-bottom: 134px;
}

.newsletter-top-wrapper .main-title {
  width: 348px;
}

.newsletter-description {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter-top-wrapper .newsletter-description {
  width: 560px;
}

.newsletter-bottom-wrapper {
  align-items: center;
  padding-bottom: 56px;
}

.newsletter-form {
  display: flex;
  align-items: flex-end;
}

/* остановилась здесь */

.newsletter-field {
  width: 557px;
  margin: 0;
  padding: 11px 16px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #C4C4C4;
}

/* Placeholder */
.newsletter-field::placeholder {
  color: #444444;
  opacity: 0.5;
}

.newsletter-button {
  padding: 15px 36px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: transparent;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 3px solid #CECECE;
  cursor: pointer;
}

.newsletter-bottom-wrapper .newsletter-description {
  position: relative;
}

.newsletter-bottom-wrapper .newsletter-description::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  top: 8px;
  left: -31px;
  background-image: url("../images/icon-subscribe-free.svg");
  background-repeat: no-repeat;
}

.page-footer {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #444444;
}

.page-footer .container {
  padding-top: 64px;
  padding-bottom: 61px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-left-wrapper {
  position: relative;
  width: 235px;
}

.footer-left-wrapper::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #FFC500;
}

.footer-center-wrapper {
  max-width: 445px;
  margin-left: auto;
}

.footer-right-wrapper {
  width: 175px;
  display: flex;
  flex-direction: column;
  margin-left: 190px;
}

.footer-menu-link,
.footer-social-link,
.footer-phone,
.htmlacademy-link {
  color: #FFFFFF;
  background-color: #444444;
}

.footer-logo {
  display: block;
  margin-bottom: 36px;
}

.footer-contacts-address {
  font-style: normal;
  margin-bottom: 64px;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  list-style-type: none;
}

.footer-menu-item:not(:last-child) {
  margin-right: 30px;
}

.footer-menu-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.footer-social-item {
  margin-right: 15px;
}

.footer-social-link {
  display: block;
  width: 40px;
  height: 40px;
  padding: 2px;
}

.footer-social-link-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.footer-social-link-svg {
  fill: #444444;
}

.footer-social-link:hover .footer-social-link-container {
  background-color: #FFC700;
}

.footer-social-link:focus {
  outline: 2px solid #AF4FFF;
}

.footer-social-link:active {
  outline: none;
}

.footer-social-link:active .footer-social-link-svg {
  fill: rgba(68, 68, 68, 0.3);
}

.footer-phone {
  margin-bottom: 63px;
  font-size: 16px;
  line-height: 20px;
}

.htmlacademy-link svg {
  fill: #FFC700;
}

.exit {
  opacity: 0.3;
}

.main-container {
  flex-grow: 1;
}

.main-inner {
  padding-top: 35px;
}

.inner-header {
  margin-bottom: 35px;
}

.inner-header .main-title {
  margin-bottom: 16px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  color: #000000;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 36px;
}

.breadcrumbs-item::after {
  position: absolute;
  content: "";
  top: 11px;
  right: -22px;
  width: 6px;
  height: 8px;
  background-image: url("../images/icon-breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}

.catalog-products {
  background-color: #F0F0F0;
}

.catalog-products .container {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 60px;
  padding-top: 25px;
}

.container-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  background-color: transparent;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-left-column {
  width: 220px;
  margin-right: 60px;
}

.catalog-left-column .container-title {
  margin-bottom: 60px;
}
.catalog-filter-group {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  border: none;
}

/* Range */
.range {
  max-width: 200px;
  overflow: auto;
  padding-top: 8px;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 11px;
  background-color: #DCDCDC;
  /* border-radius: 2px; */
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: flex-start;
}

.catalog-filter-label {
  display: flex;
  margin-right: 60px;
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
}

.range-input {
  width: 35px;
  padding: 0 5px;
  font: inherit;
  background-color: transparent;
  border: none;
  -webkit-appearance: textfield;
          appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

/* Control */
.control {
  position: relative;
  display: block;
  padding-left: 36px;
  line-height: 22px;
}

/* Mark */
.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #242424;
}

.control-input:focus ~ .control-mark,
.control-input:active ~ .control-mark {
  border-color: #af7842;
}


.control:hover .control-mark {
  border-color: #814b18;
}

.control-input:disabled + .control-mark {
  border-color: #242424;
}

/* Checkbox */
.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 7px;
  left: 2px;
  width: 12px;
  height: 2px;
  background-color: #242424;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: rotate(45deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  transform: rotate(-45deg);
}

/* Radio */
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #242424;
  border-radius: 50%;
  content: "";
}


/* Label */
.control-label {
  line-height: 22px;
  font-weight: 700;
}

.filter-submit {
  background-color: transparent;
  border: none;
}

.catalog-right-column {
  width: 840px;
}

.sorting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 16px;
  padding-left: 40px;
  /* padding: 25px 30px 25px 40px; */
}

/* .select {
  position: relative;
  display: flex;
  align-items: center;
  width: 287px;
  margin-right: 81px;
} */

.select-control {
  width: 160px;
  padding-right: 50px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: transparent;
  background-image: url("../images/icon-select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  border: none;
  -webkit-appearance: none;
  appearance: none;
}

.sorting-buttons {
  display: flex;
  align-items: center;
}

.button-sort {
  position: relative;
  margin-right: 19px;
  padding: 0;
  width: 11px;
  height: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sort-up::before,
.sort-down::before {
  position: absolute;
  content: "";
  top: 0;
  width: 11px;
  height: 10px;
  background-image: url("../images/icon-sort.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

.sort-down::before {
  transform: rotate(-180deg);
}

.background-container {
  padding: 70px 40px 78px 40px;
  background-color: #FFFFFF;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  gap: 44px 40px;
  list-style-type: none;
}

.product-card-link {
  color: #000000;
  text-decoration: none;
}

.product-card-image {
  display: block;
}

.product-card-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 32px;
}

.product-card-title {
  width: 230px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: inherit;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #444444;
  background-color: #FFFFFF;
}

.pagination-show-more {
  width: 100%;
  padding: 18px;
  border: 3px solid #E5E5E5;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  background-color: #FFFFFF;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 44px;
  background-color:#EBEBEB;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-prev,
.pagination-next {
  padding: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #EBEBEB;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-item {
  padding: 12px;
}

.pagination-link {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background-color: #EBEBEB;
  text-decoration: none;
  opacity: 0.3;
}
