/* правильный путь */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

/* неправильный путь */
/* @font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
} */

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-main {
  position: relative;
  align-self: flex-start;
  padding: 10px 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}

.button-main:focus {
  outline: 2px solid #AF4FFF;
}

.button-main-disabled {
  opacity: 0.3;
  cursor: default;
}

.button-main-disabled:focus {
  outline: none;
}

.button-main span {
  position: relative;
  z-index: 2;
}

.button-main::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 97%;
  left: 0;
  top: 0;
  background-color: #FFE17F;
  transform: scaleY(0.2);
  transition: transform 0.3s ease-in;
  z-index: 1;
  text-align: center;
}

.button-main:hover::after {
  transform: scale(1);
}

.button-main:active {
  outline: none;
}

.button-main:active::after {
  background-color: #FFCC33;
}

.button-main-disabled:hover::after {
  transform: scaleY(0.2);
}

.main-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  background-color: transparent;
}

.sub-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  background-color: transparent;
}

/* .container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  width: 1440px;
  padding: 0 45px;
} */

.container {
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
  width: 1160px;
}

.page-header {
  margin-top: 40px;
  padding: 0 60px;
  padding-bottom: 38px;
  color: #000000;
  background-color: #FFE17F;
}

.main-page {
  padding-bottom: 150px;
}

.navigation {
  position: relative;
}

.navigation-logo {
  position: absolute;
  top: -66px;
  left: 0;
}

.user-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 44px;
  margin-bottom: 45px;
}

.user-left-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* width: 625px; */
}

.search-form {
  /* width: 517px; */
  /* justify-content: center; */
  display: flex;
  align-items: flex-start;
}

.search-field {
  width: 399px;
  margin: 0;
  padding: 10px 10px 10px 48px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  background-image: url("../images/icon-search.svg");
  background-repeat: no-repeat;
  background-position: left 16px center;
  border: 2px solid #000000;
  border-right-width: 1px;
  border-radius: 50px 0px 0px 50px;
}

.search-field:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.search-field:disabled {
  opacity: 0.3;
}

.search-field:disabled:focus {
  outline: none;
}

.search-field::placeholder {
  color:rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.search-button {
  padding: 10px 55px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: transparent;
  border: 2px solid #000000;
  border-left-width: 1px;
  border-radius: 0px 50px 50px 0px;
  cursor: pointer;
}

.search-button:hover {
  color: #FFFFFF;
  background-color: #000000;
}

.search-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
  outline: none;
}

.search-button:disabled {
  opacity: 0.3;
  cursor: default;
}

.search-button:disabled:hover {
  color: #000000;
  background-color: transparent;
}

.search-button:disabled:active {
  color: #000000;
  background-color: transparent;
}

.user-menu-link {
  position: relative;
  padding: 2px 5px 2px 25px;
  color: #000000;
  background-color: #FFE17F;
  text-decoration: none;
}

/* .icon-auth {
  margin-left: 28px;
} */

.user-menu-link::before,
.icon-auth::before,
.user-menu-button::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
}

.icon-auth::before {
  left: 0;
  top: 11px;
  width: 13px;
  height: 13px;
  background-image: url("../images/icon-auth.svg");
}

.user-right-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* width: 245px; */
  width: auto;
  max-width: 450px;
  flex-wrap: wrap;

  list-style-type: none;
  margin: 0;
  padding: 0;

}

.wrapper-item:not(:first-child) {
  margin-left: 18px;
}

.wrapper-item .user-menu-link {
  position: relative;
  display: block;
  padding: 2px 5px 2px 25px;
}

.wrapper-item .user-menu-link::before {
  left: 0;
  top: 12px;
  width: 10px;
  height: 12px;
  background-image: url("../images/icon-compare.svg");
}

.user-menu-button {
  position: relative;
  padding: 2px 14px 2px 45px;
  color: #000000;
  background-color: #FFE17F;
  border: none;
  cursor: pointer;
  font: inherit;
}

.wrapper-item .user-menu-button::before {
  left: 12px;
  top: 9px;
  width: 16px;
  height: 14px;
  background-image: url("../images/icon-cart.svg");
}

.products-number {
  position: absolute;
  display: grid;
  place-items: center;
  left: -4px;
  top: 5px;
  z-index: 2;
  width: 21px;
  height: 21px;
  font-size: 14px;
  line-height: 17px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.user-menu-link:hover,
.user-menu-button:hover {
  opacity: 0.6;
}

.user-menu-link:focus,
.user-menu-button:focus {
  outline: 2px solid #AF4FFF;
}

.user-menu-link:active,
.user-menu-button:active {
  outline: none;
  opacity: 0.3;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
}

.navigation-link {
  position: relative;
  padding: 2px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFE17F;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-link-current,
.navigation-catalog-link-current {
  padding-bottom: 6px;
}

.navigation-link-current::before,
.navigation-catalog-link-current::before {
  position: absolute;
  content: "";
  height: 2px;
  right: 4px;
  bottom: 2px;
  left: 1px;
  background-color: #000000;
}

.navigation-link:hover,
.navigation-catalog-link:hover {
  opacity: 0.6;
}

.navigation-link:focus,
.navigation-catalog-link:focus {
  outline: 2px solid #AF4FFF;
}

.navigation-link:active,
.navigation-catalog-link:active {
  opacity: 0.3;
  outline: none;
}

.navigation-catalog-container .navigation-link {
  padding: 17px 59px 17px 2px;
}

.navigation-catalog-container:focus-within .navigation-catalog {
  display: flex;
}

.navigation-catalog-container .navigation-link:active + .navigation-catalog {
  display: flex;
  outline: none;
}

.icon-pluse {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
}

.icon-pluse::before,
.icon-pluse::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 2px;
  top: 25px;
  left: 17px;
  background-color: #000000;
}

.icon-pluse::after {
  transform: rotate(-90deg);
}

.icon-pluse:hover,
.icon-pluse:active {
  opacity: 1;
}

.navigation-catalog-container .navigation-link:focus-within .icon-pluse::after {
  transform: none;
}

.navigation-catalog {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 120px;
  margin: 0;
  padding: 33px 0 27px 0;
  list-style-type: none;
  display: none;
}

.navigation-catalog li {
  width: 222px;
  margin-right: 30px;
  margin-bottom: 15px;
}

.navigation-catalog li:nth-child(3n) {
  margin-bottom: 0;
}

.navigation-catalog-link {
  position: relative;
  padding: 2px;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  background-color: #FFE17F;
  text-decoration: none;
}

.navigation-catalog-link-current {
  padding-bottom: 6px;
}

.navigation-catalog-link-current::before {
  height: 1px;
  right: 2px;
  left: 2px;
  bottom: 2px;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  width: 475px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-container {
  flex-grow: 1;
}

.slider-container {
  position: relative;
  /* margin-bottom: 108px; */
  padding-bottom: 108px;
}

.slider {
  margin: 0;
  margin-top: -150px;
  padding: 0;
  list-style-type: none;
}

.slide {
  display: flex;
}

.slider-left-wrapper {
  position: relative;
}

.slider-images {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-image {
  display: block;
}

.slider-controls {
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slider-button {
  width: 20px;
  height: 60px;
  padding: 2px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../images/slider/slider-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.slider-button:active {
  outline: none;
  opacity: 0.3;
}

.slider-button:disabled,
.slider-button:disabled:hover {
  opacity: 0.1;
  cursor: default;
}

.slider-next {
  transform: rotate(180deg);
}

.slider-right-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 560px;
  margin-top: 120px;
  margin-left: 40px;
}

.slide-number {
  position: absolute;
  right: -25px;
  top: -40px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #FFFFFF;
  background-color: transparent;
}

.slider-right-wrapper .main-title {
  position: relative;
  z-index: 2;
  margin-bottom: 29px;
}

.slide-text {
  margin-top: 0;
  margin-bottom: 61px;
}

.parametrs {
  display: flex;
  max-width: 560px;
  order: 5;
  margin-bottom: 38px;
}

.parametr-container {
  display: flex;
  flex-direction: column;
}

.parametr-container:not(:last-child) {
  margin-right: 20px;
}

.parametr-name {
  order: 2;
  font-size: 16px;
  line-height: 30px;
}

.parametr-value {
  order: 1;
  margin: 0;
  margin-bottom: 12px;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  background-color: #FFFFFF;
}

.slider-right-wrapper .button-main {
  order: 4;
  /* width: 220px; */
  margin-bottom: 59px;
}

.slider-right-wrapper .button-main span {
  padding: 10px;
}

.slider-pagination {
  position: absolute;
  right: -70px;
  bottom: 280px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-item {
  margin: 0 10px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 2px;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.slider-pagination-button:active {
  outline: none;
  opacity: 0.3;
}

.slider-pagination-button:disabled {
  opacity: 0.1;
  cursor: default;
}

.slider-pagination-button-current {
  background-color: #000000;
}

.catalog-sections {
  margin-bottom: 180px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-list-item {
  position: relative;
  padding-top: 33px;
}

.catalog-list-item::before {
  position: relative;
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  bottom: 33px;
  background-color: #FFE17F;
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-list-item.virtual-reality::before {
  background-image: url("../images/catalog-sections/virtual-reality.svg");
}

.catalog-list-item.monopods-for-selfie::before {
  background-image: url("../images/catalog-sections/monopods-for-selfie.svg");
  background-position: bottom 0px center;
}

.catalog-list-item.action-cameras::before {
  background-image: url("../images/catalog-sections/action-cameras.svg");
}

.catalog-list-item.fitness-bracelets::before {
  background-image: url("../images/catalog-sections/fitness-bracelets.svg");
}

.catalog-list-item.smart-watches::before {
  background-image: url("../images/catalog-sections/smart-watches.svg");
}

.catalog-list-item.quadcopters::before {
  background-image: url("../images/catalog-sections/quadcopters.svg");
}
.catalog-list-item:hover::before {
  background-color: #FFC700;
}

.catalog-list-item:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.catalog-list-item:active {
  opacity: 0.3;
}

.catalog-section-link {
  display: inline-block;
  padding-bottom: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.catalog-section-link:focus {
  outline: none;
}

.services {
  background-color: #F0F0F0;
  margin-bottom: 70px;
  padding-bottom: 72px;
}

.services-wrapper {
  display: flex;
}

.services-tabs {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: -35px;
  padding: 0;
  list-style-type: none;
}

.services-content {
  position: relative;
  margin: 0;
  margin-top: -30px;
  margin-left: 116px;
  padding: 0;
  list-style-type: none;
}

.services-content::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 319px;
  top: -70px;
  left: -116px;
  background-color: #000000;
}

.services-name {
  margin-bottom: 55px;
}

.services-tab-name {
  max-width: 160px;
  width: 100%;
  padding: 9px 15px 11px 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: transparent;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.services-tab-current {
  padding-right: 120px;
  color: #FFE17F;
  background-color: #000000;
  width: 100%;
  max-width: 280px;
}

.services-tab-current:hover {
  color: rgba(255, 225, 127, 0.5);
}

.services-tab-current:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.services-tab-current:active {
  color: rgba(255, 225, 127, 0.3);
  outline: none;
}

.services-tab-content {
  position: relative;
  width: 475px;
}

.services-tab-content .main-title {
  margin-bottom: 34px;
}

.tab-delivery::after {
  position: absolute;
  content: "";
  background-image: url("../images/services/icon-services-delivery.svg");
  background-repeat: no-repeat;
  width: 136px;
  height: 164px;
  top: 0;
  left: 558px;
}

.tab-warranty::after {
  position: absolute;
  content: "";
  background-image: url("../images/services/icon-services-warranty.svg");
  background-repeat: no-repeat;
  width: 171px;
  height: 195px;
  top: 0;
  left: 558px;
}

.tab-credit::after {
  position: absolute;
  content: "";
  background-image: url("../images/services/icon-services-credit.svg");
  background-repeat: no-repeat;
  width: 156px;
  height: 188px;
  top: 0;
  left: 558px;
}

.button-delivery {
  position: relative;
  display: block;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 40px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  background-color: #F0F0F0;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.button-delivery::before {
  position: absolute;
  content: "";
  width: 125px;
  height: 100px;
  top: 0;
  left: 0;
  background-color: #FFE17F;
  background-image: url("../images/icon-delivery-order.svg");
  background-repeat: no-repeat;
  background-size: 47px 31px;
  background-position: center;
}

.icon-delivery-info {
  position: absolute;
  display: grid;
  place-items: center;
  top: 30px;
  right: 44px;
  width: 40px;
  height: 40px;
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
}

.icon-delivery-info-svg {
  fill:rgba(0, 0, 0, 0.3);
}

.button-delivery:hover::before {
  background-color: #FFC700;
}

.button-delivery:hover .icon-delivery-info-svg {
  fill:#000000;
}

.button-delivery:focus {
  outline: 2px solid #AF4FFF;
}

.button-delivery:active {
  outline: none;
  opacity: 0.3;
}

.company {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.company-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 497px;
}

.company-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.company-wrapper .main-title {
  margin-top: 40px;
  margin-bottom: 48px;
}

.company-wrapper p {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.company-wrapper .sub-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.delivery-list,
.contacts-schedule {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}

/* .delivery-list {

} */

.delivery-item {
  position: relative;
  margin-left: 28px;
  margin-bottom: 19px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  background-color: #FFFFFF;
  letter-spacing: -0.02em;
}

.delivery-item::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 6px;
  left: -26px;
  background-color: #FFC700;
  border-radius: 50%;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  color: #444444;
  background-color: #ffffff;
}

.contacts-phone:hover {
  opacity: 0.6;
}

.contacts-phone:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.contacts-phone:active {
  opacity: 0.3;
  outline: none;
}

.newsletter {
  background-color: #F0F0F0;
}

.newsletter-top-wrapper,
.newsletter-bottom-wrapper {
  display: flex;
  justify-content: space-between;
}

.newsletter-top-wrapper {
  align-items: flex-end;
  padding-top: 64px;
  margin-bottom: 134px;
}

.newsletter-top-wrapper .main-title {
  width: 348px;
}

.newsletter-description {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter-top-wrapper .newsletter-description {
  width: 560px;
}

.newsletter-bottom-wrapper {
  align-items: center;
  padding-bottom: 56px;
}

.newsletter-form {
  display: flex;
  align-items: flex-end;
}

.newsletter-field {
  width: 557px;
  margin: 0;
  padding: 11px 16px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #C4C4C4;
}

.newsletter-field:focus-visible {
  background-color: #DCDCDC;
  outline: none;
}

.newsletter-field:disabled {
  opacity: 0.5;
  border-color: #C4C4C4;
}

/* Invalid */
/* .newsletter-field:invalid {
  border-color: #FF3D3D;
} */

/* Placeholder */
.newsletter-field::placeholder {
  color: #444444;
  opacity: 0.5;
}

.newsletter-button {
  padding: 15px 36px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: transparent;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 3px solid #CECECE;
  cursor: pointer;
}

.newsletter-button:hover {
  border: 3px solid #000000;
}

.newsletter-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.newsletter-button:active {
  opacity: 0.3;
  outline: none;
}

.newsletter-button:disabled {
  opacity: 0.3;
}

.newsletter-button:disabled:hover,
.newsletter-button:disabled:focus {
  border: 3px solid #CECECE;
  opacity: 0.3;
  outline: none;
  cursor: default;
}

.newsletter-bottom-wrapper .newsletter-description {
  position: relative;
}

.newsletter-bottom-wrapper .newsletter-description::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  top: 8px;
  left: -31px;
  background-image: url("../images/icon-subscribe-free.svg");
  background-repeat: no-repeat;
}

.page-footer {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #444444;
}

.page-footer .container {
  padding-top: 64px;
  padding-bottom: 61px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-left-wrapper {
  position: relative;
  width: 235px;
}

.footer-left-wrapper::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #FFC500;
}

.footer-center-wrapper {
  max-width: 445px;
  margin-left: auto;
}

.footer-right-wrapper {
  width: 175px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 190px;
}

.footer-menu-link,
.footer-social-link,
.footer-phone,
.htmlacademy-link {
  color: #FFFFFF;
  background-color: #444444;
}

.footer-logo {
  display: block;
  margin-bottom: 36px;
}

.footer-contacts-address {
  font-style: normal;
  margin-bottom: 64px;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  list-style-type: none;
}

.footer-menu-item:not(:last-child) {
  margin-right: 30px;
}

.footer-menu-link {
  position: relative;
  /* padding-bottom: 6px; */
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-menu-link:hover,
.footer-phone:hover {
  color: #FFC700;
}

.footer-menu-link:hover {
  text-decoration: none;
}

.footer-menu-link:hover::before,
.footer-menu-link:active::before {
  position: absolute;
  content: "";
  height: 2px;
  right: 4px;
  bottom: -4px;
  left: 1px;
  background-color: #FFC700;
}

.footer-menu-link:focus,
.footer-phone:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.footer-menu-link:active,
.footer-phone:active {
  color: #FFC700;
  opacity: 0.3;
  outline: none;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  margin-right: 15px;
}

.footer-social-link {
  display: block;
  width: 40px;
  height: 40px;
  padding: 2px;
}

.footer-social-link-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.footer-social-link-svg {
  fill: #444444;
}

.footer-social-link:hover .footer-social-link-container {
  background-color: #FFC700;
}

.footer-social-link:focus {
  outline: 2px solid #AF4FFF;
}

.footer-social-link:active {
  outline: none;
}

.footer-social-link:active .footer-social-link-svg {
  fill: rgba(68, 68, 68, 0.3);
}

.footer-phone {
  margin-bottom: 63px;
  font-size: 16px;
  line-height: 20px;
}

.htmlacademy-link {
  display: grid;
  place-items: center;
}

.htmlacademy-link svg {
  fill: #FFC700;
}

.htmlacademy-link:hover svg {
  fill: #FFFFFF;
}

.htmlacademy-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.htmlacademy-link:focus svg {
  fill: rgba(255, 255, 255, 0.3);
}

.htmlacademy-link:active {
  opacity: 0.3;
  outline: none;
}

/* Поп-ап "Доставка под заказ" */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 72px 70px;
  background-color: #ffffff;
  border: 10px solid #000000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.modal-order {
  width: 760px;
}

.modal-close-button {
  position: absolute;
  top: 72px;
  right: 70px;
  width: 26px;
  height: 26px;
  padding: 0;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.modal-close-button svg {
  fill: #000000;
}

/* позже */
/* .modal-close-button:hover svg {
  fill: #E6E6E6;
}

.modal-close-button:focus {
  outline: 3px solid #83B3D3;
  border-radius: 50%;
}

.modal-close-button:active {
  opacity: 0.3;
  outline: none;
} */

.modal-title {
  margin-bottom: 42px;
}

.order-form {
  display: flex;
  flex-wrap: wrap;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 42px;
}

.field-group:nth-child(odd) {
  margin-right: 40px;
}

.form-label {
  margin-bottom: 14px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.field {
  width: 295px;
  margin: 0;
  padding: 20px 45px 20px 20px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #F0F0F0;
  border: none;
}

/* Placeholder */
.field::placeholder {
  color: #000000;
  opacity: 0.3;
}

.order-name {
  background-image: url("../images/modal/icon-order-name.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.order-email {
  background-image: url("../images/modal/icon-order-email.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.field-truth-show {
  display: none;
  font-size: 14px;
  line-height: 20px;
}

.field-group .field-truth-show {
  display: block;
}

/* остановилась здесь - доделать border инпута при ошибке + отображение подсказки */
.field-error-show {
  display: none;
  font-size: 14px;
  line-height: 20px;
  color: #FF3D3D;
}

.field-group .field-error-show {
  display: block;
}


/* .field-error .order-email {
  border: 2px solid #FF3D3D;
} */

.order-comment {
  width: 500px;
  padding: 20px;
}

.quantity .form-label {
  margin: 0;
  margin-right: 8px;
  margin-bottom: 14px;
}

/* .quantity .icon-delivery-info {
  position: absolute;
  display: grid;
  place-items: center;
  top: 30px;
  right: 44px;
  width: 26px;
  height: 26px;
  background-color: #FFE17F;
  border-radius: 50%;
}

.icon-delivery-info-svg {
  fill:rgba(0, 0, 0, 0.3);
}

.button-delivery:hover::before {
  background-color: #FFC700;
}

.button-delivery:hover .icon-delivery-info-svg {
  fill:#000000;
} */

.tooltip {
  position: absolute;
  /* margin-top: 8px;
  margin-left: 10px; */
  width: 26px;
  height: 26px;
}

.tooltip-toogle {
  display: block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.tooltip-icon {
  display: block;
  width: 100%;
  height: 100%;
}

.tooltip-toogle svg {
  fill: #FFE17F;
}

.tooltip-toogle:hover svg {
  fill: #FFC700;
}

.tooltip-text {
  position: absolute;
  left: 50%;
  z-index: 3;
  display: none;
  margin-top: 10px;
  padding: 19px 17px 23px 19px;
  width: 216px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  /* text-transform: none;
  text-align: left; */
  color: #FFFFFF;
  background-color: #000000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
  transform: translateX(-50%);
}

.tooltip-text::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 100%;
  width: 14px;
  height: 6px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/modal/info-text-arrow.svg");
  background-repeat: no-repeat;
}

.tooltip-toogle:hover + .tooltip-text,
.tooltip-toogle:focus + .tooltip-text {
  display: block;
}

.quantity-change {
  display: flex;
  justify-content: space-between;
  width: 136px;
  padding: 16px 22px;
  background-color: #F0F0F0;
  /* border-radius: 4px; */
}

.button-minus,
.button-plus {
  padding: 6px;
  background-color: transparent;
  border: none;
}

.button-minus svg,
.button-plus svg {
  vertical-align: middle;
  fill: rgba(0, 0, 0, 1);
}

.button-minus:hover svg,
.button-plus:hover svg{
  fill: rgba(0, 0, 0, 0.6);
}

.button-minus:focus,
.button-plus:focus {
  outline: 2px solid #AF4FFF;
}

.button-minus:active,
.button-plus:active {
  outline: none;
}

.button-minus:active svg,
.button-plus:active svg{
  fill: rgba(0, 0, 0, 0.3);
}

/* .button-minus:disabled svg,
.button-minus:disabled:hover svg,
.button-minus:disabled:focus svg,
.button-plus:disabled svg,
.button-plus:disabled:hover svg,
.button-plus:disabled:focus svg {
  fill: #D1D1D1;
} */

.number-input {
  box-sizing: border-box;
  width: 60px;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  background-color: transparent;
  border: none;
  -webkit-appearance: textfield;
          appearance: textfield;
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

/* конец модалки */

.user-left-wrapper .user-menu-link {
  margin-left: 26px;
}

.exit {
  padding: 2px 5px;
  opacity: 0.3;
}

.main-container {
  flex-grow: 1;
}

.main-inner {
  padding-top: 35px;
}

.inner-header {
  margin-bottom: 35px;
}

.inner-header .main-title {
  margin-bottom: 16px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  color: #000000;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 36px;
}

.breadcrumbs-item::after {
  position: absolute;
  content: "";
  top: 11px;
  right: -22px;
  width: 6px;
  height: 8px;
  background-image: url("../images/icon-breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.breadcrumbs-link:active {
  opacity: 0.3;
  outline: none;
}

.catalog-products {
  background-color: #F0F0F0;
}

.catalog-products .container {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 60px;
  padding-top: 25px;
}

.container-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  background-color: transparent;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-left-column {
  width: 220px;
  margin-right: 60px;
}

.catalog-left-column .container-title {
  margin-bottom: 60px;
}

.catalog-filter-group {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  position: relative;
  margin-top: 12px;
  margin-bottom: 20px;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  letter-spacing: -0.02em;
  /* border-top: 2px solid #000000; */
}

.catalog-filter-title::before {
  position: absolute;
  content: "";
  width: 200px;
  height: 2px;
  background-color: #000000;
  top: -12px;
  left: 0;
}

/* Range */
.range {
  max-width: 200px;
  overflow: auto;
  padding-top: 12px;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 11px;
  background-color: #DCDCDC;
  /* border-radius: 2px; */
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #EBEBEB;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.range-toggle:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.range-toggle:active {
  background-color: #000000;
  border: 2px solid #000000;
  outline: none;
}

.toggle-min {
  top: -8px;
  left: -10px;
  /* transform: translateX(-20px); */
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 5px;
}

.catalog-filter-label {
  display: flex;
  margin-right: 60px;
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
}

.range-input {
  width: 35px;
  padding: 0 5px;
  font: inherit;
  background-color: transparent;
  border: none;
  -webkit-appearance: textfield;
          appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.range-input:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

/* List */
.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 17px;
}

/* Control */
.control {
  position: relative;
  display: block;
  padding-left: 36px;
  line-height: 19px;
}

/* Mark */
.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  border-radius: 3px;
}

.control-input:hover + .control-mark {
  opacity: 0.6;
}

.control-input:hover ~ .control-label {
  color: rgba(0, 0, 0, 0.6);
}

.control-input:focus ~ .control-mark {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.control-input:active + .control-mark {
  opacity: 0.3;
  outline: none;
}

.control-input:active ~ .control-label {
  color: rgba(0, 0, 0, 0.3);
}

.control-input:disabled + .control-mark {
  opacity: 0.1;
}

.control-input:disabled ~ .control-label {
  color: rgba(0, 0, 0, 0.1);
}

.control-input:disabled:hover + .control-mark {
  opacity: 0.1;
}

.control-input:disabled:hover ~ .control-label {
  color: rgba(0, 0, 0, 0.1);
}

/* Checkbox */
.control-input[type="checkbox"]:checked + .control-mark {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  padding: 3px;
  background-image: url("../images/icon-filter-checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* Radio */
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}

/* Label */
.control-label {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.form-button {
  background-color: transparent;
  border: none;
}

.catalog-right-column {
  width: 840px;
}

.sorting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  padding-left: 40px;
  /* padding: 25px 30px 25px 40px; */
}

/* .select {
  position: relative;
  display: flex;
  align-items: center;
  width: 287px;
  margin-right: 81px;
} */

.select-control {
  width: 160px;
  padding-right: 50px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 20px;
  background-color: transparent;
  background-image: url("../images/icon-select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  border: none;
  -webkit-appearance: none;
  appearance: none;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.select-control:active {
  opacity: 0.3;
  outline: none;
}

.sorting-buttons {
  display: flex;
  align-items: center;
}

.button-sort {
  position: relative;
  margin-right: 19px;
  padding: 0;
  width: 11px;
  height: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-sort:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 12px;
}

.sort-up::before,
.sort-down::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 11px;
  height: 10px;
  background-image: url("../images/icon-sort.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

.sort-down::before {
  transform: rotate(-180deg);
}

.sort-up:hover::before,
.sort-down:hover::before {
  opacity: 0.5;
}

.sort-up:focus-visible::before,
.sort-down:focus-visible::before {
  outline: none;
}

.sort-up:active::before,
.sort-down:active::before {
  opacity: 1;
  outline: none;
}

.background-container {
  padding: 70px 40px 78px 40px;
  background-color: #FFFFFF;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  gap: 44px 40px;
  list-style-type: none;
}

.product-card {
  position: relative;
}

.product-card-link {
  /* position: relative; */
  display: block;
  color: #000000;
  text-decoration: none;
}

/* .product-card-link:hover {
  opacity: 0.6;
} */

.product-card-link:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.product-card-link:active {
  outline: none;
}

.product-card-image {
  position: relative;
}

.product-card-image::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(240, 240, 240, 0.8);
  opacity: 0;
}

.product-card-image .button-main {
  transform: scale(0);
}

.product-card-image:hover::before {
  opacity: 1;
}

.product-card-image:hover .button-main {
  transform: scale(1);
  transition: 0.25s ease-in;
}

.product-card-img {
  display: block;
}

.product-card-image .button-main {
  position: absolute;
  top: 40%;
  left: 30%;
}

.product-icon {
  position: absolute;
  top: 44px;
  left: 273px;
  padding: 17px 8px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.product-card-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 32px;
}

.product-card-content:hover {
  opacity: 0.6;
}

.product-card-content:active {
  opacity: 0.3;
  outline: none;
}



.product-card-title {
  width: 230px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: inherit;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #444444;
  background-color: #FFFFFF;
}



/* остановилась здесь */

.pagination-show-more {
  width: 100%;
  padding: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  background-color: #FFFFFF;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 3px solid #E5E5E5;
  cursor: pointer;
}

.pagination-show-more:hover {
  color: #FFFFFF;
  background-color: #000000;
  border: 3px solid #000000;
}

.pagination-show-more:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.pagination-show-more:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.pagination-show-more:disabled {
  opacity: 0.3;
  cursor: default;
}

.pagination-show-more:disabled:hover,
.pagination-show-more:disabled:focus {
  color: #000000;
  background-color: #FFFFFF;
  border: 3px solid #E5E5E5;
  opacity: 0.3;
  outline: none;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 44px;
  background-color:#EBEBEB;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-prev,
.pagination-next {
  padding: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #EBEBEB;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-prev:hover,
.pagination-next:hover {
  background-color: #DCDCDC;
}

.pagination-prev:focus,
.pagination-next:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}


.pagination-prev:active,
.pagination-next:active {
  /* background-color: #DCDCDC; */
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.pagination-item {
  padding: 12px;
}

.pagination-link {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(68, 68, 68, 0.3);
  background-color: #EBEBEB;
  text-decoration: none;
}

.pagination-link:hover {
  color: rgba(68, 68, 68, 1);
}

.pagination-link:focus {
  color: rgba(68, 68, 68, 0.3);
  outline: 2px solid #AF4FFF;
  outline-offset: 12px;
}

.pagination-link:active {
  color: rgba(68, 68, 68, 0.1);
  outline: none;
}

.pagination-link-current {
  color: rgba(68, 68, 68, 0.6);
}

.popover {
  position: absolute;
  top: 50px;
  right: -60px;
  z-index: 2;
  display: none;
  box-sizing: border-box;
  width: 320px;
  padding-bottom: 20px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
  min-height: 135px;
  /* box-shadow: 0 18px 40px rgba(79, 70, 60, 0.16); */
}

.popover-open::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 100%;
  width: 14px;
  height: 6px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/modal/info-text-arrow.svg");
  background-repeat: no-repeat;
}

.popover-open {
  display: block;
}

/* .popover-empty {
  width: 312px;
}

.popover-cart {
  width: 320px;
} */

/* .popover-auth {
  width: 440px;
}

.popover-user {
  width: 300px;
} */

.popover-content {
  height: 100%;
}

/* .popover-empty .popover-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}

.popover-main-text {
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
} */

.cart-items-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px;
  list-style-type: none;
}

.cart-item {
  position: relative;
  display: grid;
  grid-template-columns: 255px 15px;
  column-gap: 10px;
  align-items: flex-start;
  margin-bottom: 20px;
}

.cart-item:not(:first-child) {
  margin-top: 20px;
}

.cart-item:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 320px;
  height: 1px;
  left: -20px;
  bottom: -20px;
  background-color: rgba(255, 255, 255, 0.1);
}

.cart-item-link {
  display: grid;
  grid-template-columns: 39px 193px;
  column-gap: 23px;
  padding: 2px;
  align-items: flex-start;
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: none;
  /* outline: 3px solid transparent; */

}

.cart-item-link:hover {
  opacity: 0.6;
}

.cart-item-link:focus {
  outline: 2px solid #AF4FFF;
}

.cart-item-link:active {
  opacity: 0.3;
  outline: none;
}

.cart-item-title {
  grid-column: 2 / 3;
}

.cart-item-button {
  grid-column: 2 / 3;
  padding: 2px;
  background-color: transparent;
  border: none;
}

.cart-item-button svg {
  fill: rgba(255, 255, 255, 1);
}

.cart-item-button:hover svg {
  fill: rgba(255, 255, 255, 0.6);
}

.cart-item-button:focus {
  outline: 2px solid #AF4FFF;
}

.cart-item-button:active {
  outline: none;
}

.cart-item-button:active svg {
  fill: rgba(255, 255, 255, 0.3);
}

.cart-main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0;
  margin-bottom: 20px;
  background-color: #1A1A1A;
}

.all-button {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding: 15px 21px;
  width: 280px;
  border: 2px solid #000000;
  color: #000000;
  background-color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.all-button:hover {
  background-color: #FFE17F;
}

.all-button:focus {
  outline: 2px solid #AF4FFF;
}

.all-button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #FFE17F;
  outline: none;
}

.all-button-disabled,
.all-button-disabled:hover,
.all-button-disabled:focus {
  color: rgba(0, 0, 0, 0.3);
  background-color: #FFFFFF;
  outline: none;
  cursor: default;
}

